[Unit]
Description={{ .Description }}
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart={{ .Command }}
LimitNOFILE=1024
LimitNPROC=512

[Install]
WantedBy=multi-user.target