[Unit]
Description=迅雷远程下载服务
Documentation=https://github.com/cnk3x/xunlei

[Service]
Type=simple
ExecStart=/usr/local/bin/xlp -c /xunlei/config -d /xunlei/downloads --prevent_update --username admin --password '' --log info --addr ':2345'

TimeoutStopSec=5s
LimitNOFILE=1048576
StartLimitInterval=5
StartLimitBurst=10
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target