[Unit]
Description=迅雷远程下载服务
Documentation=https://github.com/cnk3x/xunlei

[Service]
Type=simple
ExecStart=/usr/local/bin/xlp

Environment=XL_LOG=file
Environment=XL_DIR_DATA=/xunlei/data
Environment=XL_DIR_DOWNLOAD=/xunlei/downloads
Environment=XL_DASHBOARD_HOST=
Environment=XL_DASHBOARD_PORT=2345
Environment=XL_DASHBOARD_USERNAME=
Environment=XL_DASHBOARD_PASSWORD=

TimeoutStopSec=5s
LimitNOFILE=1048576
StartLimitInterval=5
StartLimitBurst=10
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target