[Unit]
Description=迅雷远程下载服务
Documentation=https://github.com/cnk3x/xunlei

[Service]
Type=simple
ExecStart=/usr/local/bin/xlp --dir_data /xunlei/config --dir_download /mnt/sdb1/downloads --dir_download /mnt/sdb1/movies --prevent_update --dashboard_port 2345 --dashboard_username admin --dashboard_password 123456 

TimeoutStopSec=5s
LimitNOFILE=1048576
StartLimitInterval=5
StartLimitBurst=10
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target