name: 1.Prepare

on:
  workflow_dispatch:

jobs:
  Prepare:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v6
        with: { repository: cnk3x/xunlei, ref: "${{ github.ref }}" }

      - name: 配置环境
        uses: actions/setup-go@v6
        with: { go-version: "stable" }

      - name: 编译程序
        run: |
          GOARCH=amd64 go build -ldflags="-s -w" -trimpath -o ./artifacts/xlp-amd64 ./cmd/xlp
          GOARCH=arm64 go build -ldflags="-s -w" -trimpath -o ./artifacts/xlp-arm64 ./cmd/xlp
          ls -lh ./artifacts
        env: { CGO_ENABLED: 0, GOOS: linux }

      - name: 准备产物
        run: |
          VERSION=$(cat xlp.go | grep "const Version =" | head -n1 | grep -Eo '"[^"]+"' | sed 's/"//g')
          if [ -z "$VERSION" ]; then
            echo "错误：未能从xlp.go中提取到版本号"
            exit 1
          fi
          mkdir -p ./artifacts
          echo $VERSION > ./artifacts/version
          echo "成功提取版本号：$VERSION"
          cp ./Dockerfile ./artifacts/
          ls -lh ./artifacts

      - name: 上传产物
        uses: actions/upload-artifact@v6
        with: { name: artifacts, path: ./artifacts/, retention-days: 1 }

      - name: 上传产物
        uses: actions/upload-artifact@v6
        with: { name: version, path: ./artifacts/version, retention-days: 1 }
