name: 发布Beta版本

on:
  workflow_dispatch:

jobs:
  beta:
    runs-on: ubuntu-latest
    steps:
      - name: 设置时区
        run: |
          sudo ln -sf /usr/share/zoneinfo/Asia/Chongqing /etc/localtime
          echo "Asia/Chongqing" | sudo tee /etc/timezone > /dev/null
          echo "系统当前时区：$(cat /etc/timezone)"
          echo "系统当前时间：$(date)"

      - name: 检出代码
        uses: actions/checkout@v6

      - name: 设置版本
        id: version
        run: |
          v_xlp=$(cat xlp.go | grep "const Version =" | head -n1 | grep -Eo '"[^"]+"' | sed 's/"//g')
          if [ -z "${v_xlp}" ]; then
            echo "错误：未能从代码中提取到版本号"
            exit 1
          fi
          echo "v_xlp=${v_xlp}" >> $GITHUB_OUTPUT
          echo "v_xlp: ${v_xlp}"

      - name: 配置环境
        uses: actions/setup-go@v6
        with:
          go-version: ">=1.25.0"

      - name: 编译程序
        run: |
          GOARCH=amd64 go build -ldflags="-s -w" -trimpath -o ./artifacts/xlp-amd64 ./cmd/xlp
          GOARCH=arm64 go build -ldflags="-s -w" -trimpath -o ./artifacts/xlp-arm64 ./cmd/xlp
          ls -lh ./artifacts
        env:
          CGO_ENABLED: 0
          GOOS: linux

      - name: 设置QEMU
        uses: docker/setup-qemu-action@v3

      - name: 设置Buildx
        uses: docker/setup-buildx-action@v3

      - name: 登录GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GH_TOKEN }}"

      - name: 登录DCR
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DCR_USER }}
          password: ${{ secrets.DCR_TOKEN }}

      - name: 构建推送
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/cnk3x/xunlei:${{ steps.version.outputs.v_xlp }}-beta
            ghcr.io/cnk3x/xunlei:beta
            cnk3x/xunlei:${{ steps.version.outputs.v_xlp }}-beta
            cnk3x/xunlei:beta
          cache-from: type=gha
          cache-to: type=gha,mode=max
